<h1>Shorten it!</h1>

<%= form_for :url do |f| %>
  <p>
    <%= f.label "Your URL" %>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.submit "Shorten"%>
  </p>
<% end %>

<p>
<table>
  <% @urls.each do |u| %>
    <tr>
      <td><%= u.url %></td>
      <td><%= link_to "http://bitly/#{u.bitly}", u.url %><br></td>
    </tr>
  <% end %>
</table>
</p>

